.footer {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-40%, 0%);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    gap: 70px;

    border: 1px solid #ffffff50;
    border-radius: 10px;
}

.button {
    width: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    font-family: monospace;
    text-shadow: 0 0 4px #fff, 0 0 2px #fff;

}

.buttonSelected {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #ffffff20;
}